/* style of Header */
/* .header-bg{
    background-image: url("../images/BG.png");
    height: 900px;
    width: 1500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}  */


.headder-wraper {
    padding: 30px;
    height: 100vh;
    position: relative;
}
.navigation {
    display: flex;
    justify-content: flex-end;
}
.nav-li {
    display: flex;
}
.nav-li li a {
    color: black
    /* font-size: 24px; */
}

.nav-li li {
    margin: 10px;
}

/* burger */
.toggle-menu {
    position:fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 2px solid red;
    display: none;
    z-index: 100;
}
.line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0); 
    transition: all 0.3s linear; 
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}

/* Function of Burger*/
.active .line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.active .line2 {
    display: none;
}
.active .lin e3 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*  Style */
.nav-li.toggle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkgoldenrod;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav-text{
    color: black;
    font-family: Roboto;
    font-size: 17px;
}

/* style of slider */

.slide{
    display: block;
    width: 100%;
}

.slide img{
    width: 100%;
    height: 500px;
}
.slider{
    position: relative;
}

.arrow{
    width: 50px;
    height: 50px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
}
.arrow.arrow-left{
    left: 30px;

}
.arrow.arrow-right{
    right: 30px;
}
.title{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
}


/* style of Server */

.api{
    display: flex;
 
    
}
.Photos {
    margin-right: 10px;

}